* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  min-height: 100vh;
  line-height: 1.5rem;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  width: 100%;
  height: auto;
}

.layer-blur {
  height: 0;
  width: 30rem;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -1;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
  position: relative;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease;
  z-index: 1000;
  position: relative;
}

ul li a:hover {
  color: #a7a7a7;
}

/* Main content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(90vh - 6rem);
}

.content {
  max-width: 40rem;
  margin-left: 10%;
  z-index: 999;
}

.tag-box {
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(to right, #5300a0, #757575, #656565);
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}

.tag-box .tag {
  position: absolute;
  inset: 3px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.tag-box .tag:hover {
  color: #5300a0;
}

.content h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
  line-height: 5rem;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

.description {
  margin-top: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  max-width: 40rem;
  color: gray;
  margin-bottom: 3rem;
}

.download-cv {
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #2a2a2a;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.download-cv:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.robot {
  position: absolute;
  top: 0;
  right: -20%;

  height: auto;
}





/* The CSS is not fully responsive, but I had to submit my CV now. I will update it later. */


/* Responsive design */
@media (max-width: 1300px) {
  .content {
    margin-top: 85%;
  }

  .robot {
    scale: 0.8;
    top: -20%;
    right: 2%;
  }
}

@media (max-width: 768px) {
  .content {
    margin-left: 5%;
    margin-top: 60%;
  }

  .content h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .robot {
    scale: 0.6;
    top: -10%;
    right: 0;
  }
}

/* neon */

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  }
  50% {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 60px #ff00ff;
  }
  100% {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff;
  }
}

.input {
  font-family: 'Courier New', monospace;
  font-size: 2rem;
  color: #fff;
  animation: neon 1.5s ease-in-out infinite alternate;
}


